@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: 'Roboto', sans-serif;
	color: #222;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

h1 {
	color: #fff;
	margin-bottom: 20px;
	font-size: 340%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	margin-bottom: 10px;
}

.main-a {
	text-decoration: none;
	cursor: pointer;
	border-radius: 20px;
	border: 3px solid #fff;
	color: #fff;
	background-color: #3cb7ff;
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
	transition: all 0.2s ease-in-out;
	padding: 5px;
}

.main-a:hover {
	border: 3px solid #3cb7ff;
	color: #3cb7ff;
	background-color: #fff;
}

.hero {
	height: 90vh;
	background-color: #3cb7ff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Card Box */

.card-container {
	padding: 25px;
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin: 5%;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
	height: 10vh;
	background-color: #333;
	padding: 50px;
	font-size: 80%;
}

footer p {
	color: #888;
	text-align: center;
}

@media only screen and (max-width: 375px) {
	h1 {
		font-size: 140%;
	}
}
